{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div id="quotes-container">
    <h3>Цитаты</h3>
    {% for quote in quotes %}
        <div class="row">
            <p>&quot;{{ quote.text }}&quot;</p>
            <p>Дата добавления: {{ quote.created_at }}</p>
            <p>Ссылка: <a href="{% url 'quote:quote_detail_view' quote.pk %}">Детальный просмотр</a></p>
            <p>Рейтинг: {{ quote.rating }}</p>
        </div>
        <hr>
    {% endfor %}
    </div>
    <div id="form-container" class="row" style="display: none">
        <form id="quote-form" method="post" action="{% url 'api:quote_create' %}">
            <label>Текст:
                <input type="text" name="text">
            </label>
            <br>
            <label>Имя пользователя:
                <input type="text" name="user_name">
            </label>
            <br>
            <label>Эл. почта:
                <input type="text" name="email">
            </label>
            <br>
            <button type="submit">Сохранить</button>
            <br>
            <button onclick="hideForm()">Отмена</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}